table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

body{
    background: lightgray ;
    padding: 10px;
}

header{
    background: lightgray;
    text-align: center;
    border-top: 1px dashed rgb(19, 20, 20);
}

div{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 20px;
    line-height: 20px;
}

clearfix{
    clear: both;
}